<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">首页</a></li>
            <li class="breadcrumb-item active">分类</li>
        </ol>
        <div class="cate-board">
            <span>分类</span>
            {{#each categories}}
                <a href="/categories/{{this.name}}">{{this.name}}</a>
            {{/each}}
        </div>
        <div class="recent-posts">
            <ul>
                {{#each posts}}
                    <li>
                        <span>{{moment this.create_date 'YYYY-MM-DD'}} &raquo;</span>
                        <a href="/post/{{this.slug}} ">{{this.title}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
